<h1>
  List of all actors
</h1>


<hr>

<form action="/insert_actor_record" method="post">
  <div>
    <label for="name_field">Name</label>
    <input type="text" name="actor_name" id="name_field">
  </div>

  <div>
    <label for="dob_field">Dob</label>
    <input type="date" name="actor_dob" id="dob_field">
  </div>

  <div>
    <label for="bio_field">Bio</label>
    <textarea name="actor_bio" id="bio_field" rows="3"></textarea>
    <!--<input type="text" name="actor_bio" id="bio_field">-->
  </div>

  <div>
    <label for="image_field">Image</label>
    <input type="text" name="actor_image" id="image_field">
  </div>

  <!--<div>
    <label for="director_id_field">Actor ID</label>
    <input type="text" name="actor_id" id="director_id_field">
  </div>-->

  <button>
    Create actor
  </button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_actors.each do |an_actor| %>
  <tr>
    <td>
      <%= an_actor.id %>
    </td>

    <td>
      <img src="<%= an_actor.image %>" style="width:250px;">
    </td>

    <td>
      <%= an_actor.name %>
    </td>

    <td>
      <%= an_actor.dob %>
    </td>

    <td>
      <a href="/actors/<%= an_actor.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
